bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.PJATK-APBD-Cw7-s33103/.idea/.gitignore
/.idea/.idea.PJATK-APBD-Cw7-s33103/.idea/dataSources.xml
/.idea/.idea.PJATK-APBD-Cw7-s33103/.idea/encodings.xml
/.idea/.idea.PJATK-APBD-Cw7-s33103/.idea/indexLayout.xml
/.idea/.idea.PJATK-APBD-Cw7-s33103/.idea/vcs.xml
